<a href="https://colab.research.google.com/github/Aroanow/Python/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
words = ["Aroa","PETER","Anna","SOFIA","Jordi","Pep","Carlos","Anastasia","Helena","Júlia"]
data={"Nombre": words,
       "N. C.": map(len,words),
       "First": map(lambda x: x[0],words),
       "Last" : map(lambda x: x[-1],words),
       "Medio": map(lambda x: x[1:-1],words)}

In [ ]:
import pandas as pd

caballo=pd.DataFrame(data)

In [ ]:
caballo= caballo.set_index("Nombre")

In [ ]:
caballo.index.names =[None]

In [ ]:
caballo

           N. C. First Last    Medio
Aroa           4     A    a       ro
PETER          5     P    R      ETE
Anna           4     A    a       nn
SOFIA          5     S    A      OFI
Jordi          5     J    i      ord
Pep            3     P    p        e
Carlos         6     C    s     arlo
Anastasia      9     A    a  nastasi
Helena         6     H    a     elen
Júlia          5     J    a      úli

In [ ]:
  sofiakaka
  ç